<div class="text-center">
    <h1 class="display-4">Come Visit the Layton Temple!</h1>
    <br />
    <h3>1500 E Oak Hills Drive, Layton, UT 84040</h3>
    <img class="img-fluid" src="~/img/laytontemple.jpg" />
</div>

<div class="text-left">

    <h3>General Tour Instructions:</h3>

    <ul>
        <li>Masks are required.</li>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
        <li>Dress casual, except on Sunday</li>
    </ul>

    <h3>Special Accommodations (check the appropriate box when signing up for a tour):</h3>

    <ul>
        <li>Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday</li>
    </ul>

    <h3>Available Tours:</h3>
    <ul>
        <li>Tour (Outdoor): We have been asked to discontinue outside tours at this time.</li>
        <li>Trailer Tour: All tours will be inside the trailer.</li>

    </ul>

    <b>Masks are required</b> <br />

    Please call <b>801-628-4488 or email LaytonTempleTours@gmail.com</b> with questions or special requests.<br />

    <div class="text-center">

        <!--sign up button, takes you to the sign up page-->
        <a class="btn-danger" asp-action="Signup">Sign up for a Tour!</a>
    </div>


</div>
